---
import Tag from "./Tag.astro";
import { Image } from "astro:assets";

const { frontmatter } = Astro.props;
---
<div class="flex flex-row gap-0">
    <figure class="basis-1">
        <a href={frontmatter.goodreadsLink} target="_blank">
            <Image
                src={frontmatter.coverLink}
                alt={`Cover image for the book ${frontmatter.title}`}
                width={150}
                height={200}
                class="min-w-72 w-72 aspect-3/4 rounded-xs border-2 border-base-text"
            />
        </a>
        <figcaption class="font-sans text-center text-base-40 text-sm/tight py-1 px-4">
            Cover image for the book <br /><b><i>{frontmatter.title}</i></b>
        </figcaption>
    </figure>
    <section class="px-4 py-0">
        {frontmatter.tags.map((tag: string) => (<Tag link="#">{tag}</Tag>))}
        <hgroup class="mb-6 prose">
            <h2>{frontmatter.title}</h2>
            <h5>{frontmatter.authors.join(", ")}</h5>
        </hgroup>

        <p>{frontmatter.description}</p>
    </section>
</div>
